[include]
    path = ~/.gitconfig.local

[user]
    name = Yusuke Miyazaki
    email = miyazaki.dev@gmail.com

[merge]
    ff = false

[pull]
    rebase = true

[color]
    ui = auto

[core]
    editor  = vim
    pager   = less -R

[alias]
    a       = add
    ap      = add -p
    br      = branch
    cl      = clone
    cm      = commit -v
    co      = checkout
    cob     = checkout -b
    cod     = checkout develop
    com     = checkout master
    df      = diff
    dfc     = diff --cached
    dfs     = diff -C --stat
    gca     = gc --aggressive
    pl      = pull
    ps      = push
    pst     = push --tags
    sb      = show-branch
    sh      = show
    sm      = submodule
    smst    = submodule status
    smsync  = submodule sync
    st      = status
    l       = log
    lg      = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
    lga     = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
    lsu     = ls-files -o --exclude-standard
    show-ignored = ls-files --exclude-standard --others --ignored

[diff "utf-16"]
    textconv = iconv -f utf-16 -t utf-8

[filter "media"]
    clean       = git media clean %f
    smudge      = git media smudge %f
    required    = true

[filter "hawser"]
    clean       = git hawser clean %f
    smudge      = git hawser smudge %f
    required    = true
